USE [user6]
GO
/****** Object:  Table [dbo].[type_agents]    Script Date: 14.12.2021 15:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_agents](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_type_agents] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 14.12.2021 15:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[Id] [int] NOT NULL,
	[NameProduct] [nvarchar](255) NULL,
	[TypeProduct] [nvarchar](255) NULL,
	[Articul] [float] NULL,
	[CountPeople] [float] NULL,
	[NumberAngar] [float] NULL,
	[MinPriceForAgent] [float] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agents]    Script Date: 14.12.2021 15:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agents](
	[IdType] [int] NOT NULL,
	[Type] [nvarchar](255) NULL,
	[IDAgent] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Logo] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Priority] [nvarchar](255) NULL,
	[Director] [nvarchar](255) NULL,
	[INN] [float] NULL,
	[KPP] [float] NULL,
 CONSTRAINT [PK_agents] PRIMARY KEY CLUSTERED 
(
	[IDAgent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productSale]    Script Date: 14.12.2021 15:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productSale](
	[IdSale] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
	[Продукция] [nvarchar](255) NULL,
	[InAgent] [int] NULL,
	[Наименование агента] [nvarchar](255) NULL,
	[Дата реализации] [datetime] NULL,
	[Количество продукции] [int] NULL,
 CONSTRAINT [PK_productSale] PRIMARY KEY CLUSTERED 
(
	[IdSale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_AgentDetails]    Script Date: 14.12.2021 15:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_AgentDetails]
AS
SELECT        dbo.agents.IDAgent, dbo.agents.Name, dbo.agents.Phone, dbo.agents.Priority, dbo.type_agents.Name AS Тип, CASE WHEN A.Сумма_Продаж < 10000 THEN 5 WHEN A.Сумма_Продаж >= 10000 THEN 25 END AS Скидка, 
                         dbo.agents.Logo
FROM            (SELECT        s.InAgent, SUM(s.[Количество продукции] * p.MinPriceForAgent) AS Сумма_Продаж
                          FROM            dbo.products AS p INNER JOIN
                                                    dbo.productSale AS s ON p.Id = s.ID
                          GROUP BY s.InAgent) AS A LEFT OUTER JOIN
                             (SELECT        s.InAgent, SUM(s.[Количество продукции] * p.MinPriceForAgent) AS Сумма_Продаж_ЗаГод
                               FROM            dbo.products AS p INNER JOIN
                                                         dbo.productSale AS s ON p.Id = s.ID
                               WHERE        (YEAR(s.[Дата реализации]) = YEAR(GETDATE()))
                               GROUP BY s.InAgent) AS b ON A.InAgent = b.InAgent INNER JOIN
                         dbo.agents ON A.InAgent = dbo.agents.IDAgent INNER JOIN
                         dbo.type_agents ON dbo.type_agents.ID = dbo.agents.IdType
GO
/****** Object:  Table [dbo].[HistoryPriority]    Script Date: 14.12.2021 15:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryPriority](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[oldPriority] [nvarchar](50) NULL,
	[newPriority] [nvarchar](50) NULL,
 CONSTRAINT [PK_HistoryPriority] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productSale$ExternalData_2]    Script Date: 14.12.2021 15:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productSale$ExternalData_2](
	[Продукция] [nvarchar](255) NULL,
	[InAgent] [float] NULL,
	[Наименование агента] [nvarchar](255) NULL,
	[Дата реализации] [datetime] NULL,
	[Количество продукции] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[agents] ([IdType], [Type], [IDAgent], [Name], [Email], [Phone], [Logo], [Address], [Priority], [Director], [INN], [KPP]) VALUES (1, NULL, 0, N'фывфывфы', NULL, NULL, NULL, N'28-Солнечная', N'456', NULL, 2345231423, 234234234)
INSERT [dbo].[agents] ([IdType], [Type], [IDAgent], [Name], [Email], [Phone], [Logo], [Address], [Priority], [Director], [INN], [KPP]) VALUES (2, N'МКК', 1, N'CибБашкир', N'vzimina@zdanova.com', N'(495) 285-78-38', N'\agents\agent_69.png', N'429540, Мурманская область, город Воскресенск, пл. Славы, 36', N'Приоритет = 218', N'Григорий Владимирович Елисеева', 7392007090, 576103661)
INSERT [dbo].[agents] ([IdType], [Type], [IDAgent], [Name], [Email], [Phone], [Logo], [Address], [Priority], [Director], [INN], [KPP]) VALUES (2, N'МКК', 2, N'CибГаз', N'inna.sarova@panfilov.ru', N'(495) 945-37-25', N'\agents\agent_103.png', N'365674, Архангельская область, город Серебряные Пруды, пр. Ленина, 29', N'488', N'Вячеслав Романович Третьякова', 6483417250, 455013058)
GO
INSERT [dbo].[products] ([Id], [NameProduct], [TypeProduct], [Articul], [CountPeople], [NumberAngar], [MinPriceForAgent]) VALUES (1, N'Попрыгун 2299', N' Взрослый', 34750945, 2, 2, 1688)
INSERT [dbo].[products] ([Id], [NameProduct], [TypeProduct], [Articul], [CountPeople], [NumberAngar], [MinPriceForAgent]) VALUES (2, N'Попрыгун 3016', N' Цифровой', 74919447, 1, 12, NULL)
INSERT [dbo].[products] ([Id], [NameProduct], [TypeProduct], [Articul], [CountPeople], [NumberAngar], [MinPriceForAgent]) VALUES (3, N'Попрыгун 6412', N' Для больших деток', 28152672, 2, 9, 523)
GO
SET IDENTITY_INSERT [dbo].[productSale] ON 

INSERT [dbo].[productSale] ([IdSale], [ID], [Продукция], [InAgent], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (1, 1, N'Попрыгун 2299', 47, N'Компания Хмель', CAST(N'2015-12-25T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[productSale] ([IdSale], [ID], [Продукция], [InAgent], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (2, 1, N'Попрыгун 2299', 82, N'ТелеГлавВекторСбыт', CAST(N'2017-11-24T00:00:00.000' AS DateTime), 15)
INSERT [dbo].[productSale] ([IdSale], [ID], [Продукция], [InAgent], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (3, 2, N'Попрыгун 3016', 89, N'ФинансТелеТверь', CAST(N'2018-04-14T00:00:00.000' AS DateTime), 7)
GO
SET IDENTITY_INSERT [dbo].[productSale] OFF
GO
INSERT [dbo].[productSale$ExternalData_2] ([Продукция], [InAgent], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (N'Попрыгун 2299', 47, N'Компания Хмель', CAST(N'2015-12-25T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[productSale$ExternalData_2] ([Продукция], [InAgent], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (N'Попрыгун 2299', 82, N'ТелеГлавВекторСбыт', CAST(N'2017-11-24T00:00:00.000' AS DateTime), 15)
INSERT [dbo].[productSale$ExternalData_2] ([Продукция], [InAgent], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (N'Попрыгун 3016', 89, N'ФинансТелеТверь', CAST(N'2018-04-14T00:00:00.000' AS DateTime), 7)
GO
INSERT [dbo].[type_agents] ([ID], [Name]) VALUES (1, N'ЗАО')
INSERT [dbo].[type_agents] ([ID], [Name]) VALUES (2, N'МКК')
INSERT [dbo].[type_agents] ([ID], [Name]) VALUES (3, N'МФО')
GO
/****** Object:  Trigger [dbo].[TR_Agents_InsertAndUpdate]    Script Date: 14.12.2021 15:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Trigger [dbo].[TR_Agents_InsertAndUpdate] On [dbo].[agents]
After Update, Insert
As
IF EXISTS(Select * From inserted) and Exists (Select * from deleted) And UPDATE([Priority])
BEGIN
	Insert Into [dbo].[HistoryPriority] ([oldPriority], [newPriority])
	Select d.Priority, i.Priority
	From inserted i inner join deleted d on i.IDAgent = d.IDAgent
END;
IF EXISTS(Select * From inserted) and not exists (Select * from deleted)
BEGIN
Insert Into [dbo].[HistoryPriority] ([oldPriority], [newPriority])
	Select null, i.Priority
	From inserted i inner join deleted d on i.IDAgent = d.IDAgent
END;
GO
ALTER TABLE [dbo].[agents] ENABLE TRIGGER [TR_Agents_InsertAndUpdate]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "A"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 214
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "b"
            Begin Extent = 
               Top = 6
               Left = 252
               Bottom = 102
               Right = 465
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "agents"
            Begin Extent = 
               Top = 6
               Left = 503
               Bottom = 136
               Right = 673
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "type_agents"
            Begin Extent = 
               Top = 6
               Left = 711
               Bottom = 102
               Right = 881
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_AgentDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_AgentDetails'
GO
